:root{
    --gold:#FFD700;
    --grey:#797979a6;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,1);
}
header .logo{
    display: flex;
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}
header .navbar a:hover{
    color:var(--gold);
}
header .icon i{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;   
}
header .icon i:hover{
    color:var(--gold);  
}

.bg-image{
    position: relative;
    background-image: url("/img/banner.png");
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.bg-image .box{
    background-color: #FFF3E3;
    width: 30%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 65%;
}
.bg-image .box h5{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
    font-family: sans-serif;
}
.bg-image .box h1{
    margin-top: 5px;
    margin-left: 18px;
    font-size: 50px;
    font-family: sans-serif;
    color: #B88E2F;
}
.bg-image .box p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
    font-family: sans-serif;
}
.bg-image .box button{
    padding:15px 30px;
    background-color: #B88E2F;
    color: #FFF;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
    border: 30px;
    border:0 solid;
}
.bg-image .box button:hover{
    color:var(--gold);
}
.text-content{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    justify-content: center;
    margin-top: 50px;
    display: block;
}
.cover{
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    display: flex;
    border: 30px;
    border:0 solid;
}
.box{
    width: 400px;
    height: 500px;
}
.box1{
    width: 400px;
    height: 500px;
}
.box2{
    width: 400px;
    height: 500px;
}
.box h2{
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
.box1 h2{
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
.box2 h2{
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
.cover img{
    width: 381px;
    height: 400px;
}


/*OurProduct*/

.product-text{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    justify-content: center;
    margin-top: 10px;
    display: block;
}
.product-list1{
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    display: flex;
    border: 30px;
    border:0 solid;
}
.product-list1 img{
    position: relative;
    width: 250px;
    height: 320px;
}
.p-box{
    margin: 10px 15px 15px;
    width: 250px;
    height: 400px;
    background-color: #ededed;
}
.p-box-1{
    margin: 10px 15px 15px;
    width: 250px;
    height: 400px;
    background-color: #ededed;
}
.p-box-2{
    margin: 10px 15px 15px;
    width: 250px;
    height: 400px;
    background-color: #ededed;
}
.p-box-3{
    margin: 10px 15px 15px;
    width: 250px;
    height: 400px;
    background-color: #ededed;
}
.product-list2{
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    display: flex;
    border: 30px;
    border:0 solid;
}
.product-list2 img{
    position: relative;
    width: 250px;
    height: 320px;
}
.p-box-4{
    margin: 10px 15px 15px;
    width: 250px;
    height: 400px;
    background-color: #ededed;
    
}
.p-box-5{
    margin: 10px 15px 15px;
    width: 250px;
    height: 400px;
    background-color: #ededed;
}
.p-box-6{
    margin: 10px 15px 15px;
    width: 250px;
    height: 400px;
    background-color: #ededed;
}
.p-box-7{
    margin: 10px 15px 15px;
    width: 250px;
    height: 400px;
    background-color: #ededed;
}
.product-list1 h3{
    display: inline;
}
.product-list2 h3{
    display: inline;
}
.p-box-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.p-box-content :hover{
    opacity: 1;
}
.p-box-content .icons{
    display: flex;
    font-size: 12px;
    margin: 5px 5px 5px;
    color: #FFF;
}
.p-box-content button{
    padding:10px 25px;
    background-color: #ffffff8c;
    color: #B88E2F;
    font-size: 18px;
    border: 30px;
    border:0 solid;
}
.p-box-content > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.p-box-content :hover > *{
    transform: translateY(0px);
}
.footer{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    padding: 20px;
    border-top: solid 2px #9c9c9c;
}

.footer-logo span{
    margin-top: 30px;
    font-size: 30px;
    cursor: pointer;
}
.footer-logo p{
    margin-top: 25px;
    font-size: 20px;
    color: #666;
}
.foot-link{
    margin-left: 15%;
    font-size: 20px;
}
.foot-link ul li{
    padding-top: 20px;
    list-style-type: none;        
}
.foot-help{
    margin-left: 10%;
    font-size: 20px;
}
.foot-help ul li{
    font-size: 20px;
    padding-top: 20px;
    list-style-type: none;        
}
.news{
    margin-left: 10%;
    font-size: 20px;
}
.news input{
    border: solid 1px;
}
.hr{
    margin-left: 5%;
    margin-bottom: 20px;
    height:2px;
    width: 80%;
    color:gray;
    background-color:gray
}
.copyright-tag{
    margin-bottom: 20px;
    margin-left: 75px;
}